body {
    display: flex;
}

body .chart1 {
    display: flex;
    position: relative;
    height:50vh;
    width:50vw;
}

body .chart2 {
    display: flex;
    position: relative;
    height:50vh;
    width:50vw;
}